@model TCC.Models.Treinamento

@{
    ViewBag.Title = "Excluir Treinamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Excluir</h2>
<p> </p>

<h4 class="text-danger">Esta ação não pode ser desfeita. Deseja realmente excluir este treinamento?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indeterminado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indeterminado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instrutor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instrutor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modulos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modulos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PalavrasChave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PalavrasChave)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" />
            <a href="/Treinamentos/Index" class="btn btn-dark">Voltar</a>
        </div>
    }

    <p> </p>
    <p> </p>
</div>
